@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header{
    padding: 0px 72px;
}

.menu_logo_container{
    width: 106px;
    height: 32px;
}

.nav_elements_container{
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    perspective: 2000px;
}

.menu_group_1{
    /* z-index: 120; */
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.signup_btn{
    background-color: black;
    color: white;
}

.menu_items .menulink{
    display: inline-block;
    padding: 6px 16px 16px;
    color: #0a0c0f;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    transition: padding .5s ease;
}

.main-section{
    padding-top: 80px;
}

.hero-section_text_area{
    padding: 0px 16px;
}

.hero_section .col-12 h1{
    text-transform: uppercase;
    color: #74757b;
    font-size: 48px;
    line-height: 48px;
    font-family: Gabarito, sans-serif;
    margin: 0px 0px 24px;
}

.button-block .btn{
    font: 400 1.125em / 1.2em Montserrat, sans-serif;
    letter-spacing: .6px;
    color: #000;
    background-color: #fce765;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    outline: 0;
    border: .12em solid transparent;
    border-radius: 72px;
    min-width: 5.5em;
    margin: 0;
    padding: 24px 72px 24px 32px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color .1s linear, background-color .1s linear, border-color .1s linear;
}

.button-block .btn:hover{
    transition: transform .7s ease-in, border 1s ease-in;
    transform: translateY(-4px);
    border: 2px solid black;
}

.button-block .btn span{
    color: #15161B;
    font-size: 24px;
    font-family: Gabarito, sans-serif;
    font-weight: 500;
}

.button-block .btn span:hover {
    transition: padding-right .7s ease-in ;
    padding-right: 30px;
}

.text--gray p{
    color: #74757b;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #74757B;
    display: block;
    unicode-bidi: isolate;
}

.video_block{
    display: flex;
    position: relative;
    padding-inline: 16px;
}

video{
    object-fit: contain;
    max-width: 100%;
    height: auto;
    position: absolute;
    aspect-ratio: auto 674 / 640;
    overflow-clip-margin: content-box;
    overflow: clip;
}